%h1.page-title Portfolio of Casey Ochs
.row
    .three.columns.first
        = image_tag "caseypic.jpg"


    .three.columns
        %h3 CS-10 Intro to Computer Science:
        %ul
            %li CS-010-1 Intro to Computer Science
            = link_to "<span>CS-10 &raquo;</span>", "/CS_10", :class => 'large red button'


    .three.columns
        %h3 CS-30 Intro to Computer Science II:
        %ul
            %li CS-030-1 Intro to Computer Science 2
            = link_to "<span>CS-30 &raquo;</span>", "/CS_30", :class => 'large red button'




%h2 About
.row
    .three.columns.first
        %p
            Welcome, you have arrived at the portfolio of Casey Ochs for Computer Science.
            As of now, I am 18 and pursuing a Computer Science degree at Westmont College.



    .three.columns
        %p
            Thus far, I have taken  CS 10, CS 30, and CS 50 which are the what first
            year students generally take when pursuing a Computer Science degree at
            Westmont College.

    .three.columns
        %p
            This website will provide a portfolio of some of my programming work,
            as well as provide a basic resume of what I have completed at my time
            at Westmont.



%h3
.row
    .three.columns
        %h3 CS Classes I have completed:
        %ul
            %li CS-010-1 Intro to Computer Science
            %li CS-050-1 Computer Ethics and Philosophy


    .three.columns
        %h3 CS Classes I am currently in:
        %ul
            %li CS-030-1 Intro to Computer Science 2
            %li CS-015-1 Descrete Mathematics



%h6
.row
    .three.columns
        %h3 Here is a link to my Resume page:
        %ul
            = link_to "<span>Resume &raquo;</span>", "/resume", :class => 'large red button'



    .three.columns
        %h3 Here is a link to my Post Forum:
        %ul
            = link_to "<span>Post's &raquo;</span>", "/posts", :class => 'large red button'

